<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <span>Xin chào bạn: </span>{userName}<span>,</span>
                <br />
                {title}
            </td>
        </tr>
        <tr>
            <td>
                {message}
            </td>
        </tr>
        <tr>
            <td>
                <span>Mobilink</span>
            </td>
        </tr>
    </table>
</body>
</html>
